@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------------------------- */
/* ----Custom Properties------ */
/* --------------------------- */

:root {
    --clr-orange: 255, 153, 0;    /* #ff9900 */
    --clr-purple: 204, 0, 153;      /* #cc0099 */
    --clr-red: 129, 19, 49; /* #811331 */
    --clr-white: 255, 255, 255;
    --clr-light-black: 26, 27, 31;  /* #1a1b1f */
    --clr-dark-black: 26, 26, 26;   /* #1a1a1a */
    --clr-dark: 51, 51, 51;         /* #333333 */

    --ff-roboto: 'Roboto', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --fs-900: 4rem;
    --fs-800: 3.625rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;
    --fs-90: 0.9rem;
    --fs-80: 0.8rem;
}

body {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-100);
    font-weight: 400;
    line-height: 1.6;
    color: rgb( var(--clr-dark-black) );
}

.bg-orange { background-color: rgb( var(--clr-orange) );}
.bg-purple { background-color: rgb( var(--clr-purple) );}
.bg-red { background-color: rgb( var(--clr-red) );}

.text-dark { color: rgb( var(--clr-light-black) );}
.text-darker { color: rgb( var(--clr-dark-black) );}
.text-purple { color: rgb( var(--clr-purple) );}
.text-white, .text-white * { color: rgb( var(--clr-white) );}

.fw-300 { font-weight: 300;}
.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
.fw-700 { font-weight: 700;}
.fw-800 { font-weight: 800;}
.fw-900 { font-weight: 900;}

.ff-roboto { font-family: var(--ff-roboto);}

.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}
.fs-200 {font-size: var(--fs-200);}
.fs-90 {font-size: var(--fs-90);}
.fs-80 {font-size: var(--fs-80);}

.opacity-5 { opacity: 0.5;}
.opacity-6 { opacity: 0.6;}
.opacity-7 { opacity: 0.7;}
.opacity-8 { opacity: 0.8;}
.opacity-9 { opacity: 0.9;}

.uppercase { text-transform: uppercase;}

.letter-spacing-1 { letter-spacing: 0.5px;}
.letter-spacing-2 { letter-spacing: 0.75px;}
.letter-spacing-3 { letter-spacing: 1px;}
.letter-spacing-4 { letter-spacing: 1.5px;}
.letter-spacing-5 { letter-spacing: 2.5px;}

.no-decoration-family, .no-decoration-family * {
    text-decoration: none;
    list-style: none;
}

.no-decoration {
    text-decoration: none;
    list-style: none;
}


#back-to-top {
    display: inline-block;
    background-color: rgb( var(--clr-dark) );
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
    -o-transition: background-color .3s, opacity .5s, visibility .5s;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
  
#back-to-top i {
    font-weight: 700;
    font-size: 2em;
    line-height: 40px;
    color: rgb( var(--clr-white) );
}
  
#back-to-top:hover, #back-to-top:active {
    cursor: pointer;
    background-color: rgb( var(--clr-orange) );
}
  
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.primary-btn {
    padding: 0.85rem 1.5rem;
    color: white;
    font-size: 0.77rem;
    line-height: 1rem;
    text-transform: uppercase;
    background-color: rgb( var(--clr-orange) );
    border-radius: 5px;
    text-decoration:  none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.primary-btn:hover {
    background-color: rgb( var(--clr-red) );
    color: white;
}

.secondary-btn {
    padding: 0.75rem 2rem;
    color: white;
    font-size: 0.77rem;
    line-height: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration:  none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 500ms ease;
}

.secondary-btn:hover {
    background-color: rgb( var(--clr-orange) );
    color: white;
    border: none;
}

.section-label {
    font-size: var(--fs-90);
    color: rgb( var(--clr-purple) );
    opacity: 0.9;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-heading {
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    font-family: var(--ff-montserrat);
    color: rgb( var(--clr-light-black) );
    letter-spacing: 1px;
    opacity: 0.8;
}


.navbar-brand:hover {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}
.nav-link.active::after{
    content: '';
    width: 100%;
    height: 2px;
    background: rgb( var(--clr-orange) );
    display: block;
    margin: auto;
}
.nav-link::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb( var(--clr-orange) );
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link:hover::after{
    width: 100%;
}

#hero-section {
    height: clamp(400px, 20rem + 20vw, 95vh);
    background: linear-gradient(90deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../img/photo50.jpg');
    background-size: cover;
    background-position: right bottom;
}

.about-intro h6 {
    width: 80%;
}